;[client]
;ssl-ca=/etc/mysql/certs/ca.pem
;ssl-cert=/etc/mysql/certs/client-cert.pem
;ssl-key=/etc/mysql/certs/client-key.pem

[mysqld]
ssl_ca=/etc/mysql/certs/ca.pem
ssl_cert=/etc/mysql/certs/server-cert.pem
ssl_key=/etc/mysql/certs/server-key.pem
bind-address            = 0.0.0.0
